<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Test cu bile{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Test cu bile</h1>
            <a href='/' class='menu'>Acasa</a>
            <a href='/list' class='menu'>Grupari salvate in baza de date</a>
        </header>
        <main class="container" role="main">
            <div class="jumbotron">
                {% block body %}{% endblock %}
            </div>
        </main>

    </body>
</html>